<div id="<%= dom_id book_review %>">
  <p>
    <strong>Author:</strong>
    <%= book_review.author %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= book_review.rating %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= book_review.review %>
  </p>
</div>
