<p style="color: green"><%= notice %></p>

<h1 id="articles_title">Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article, :class => "each_article" %>
    <p>
      <%= link_to "Show this article", article, :class => "show_article_link" %>
    </p>
  <% end %>
</div>

<%= link_to "New Article", new_article_path, :class => "new_article_link"  %>