#edit_article_container {
  width: 100vw;
  height: 100vh;
  padding-left: 1%;
  display: grid;
  grid-template-columns: repeat(12, 6%);
  column-gap: 3%;
  grid-template-rows: repeat(12, 6%);
  row-gap: 2%;

  form {
    margin-top: 5%;
  }
  h1 {
    color: rgb(85, 45, 53);
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  #new_article_title {
    color: rgb(85, 45, 53);
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .back_container {
    padding: 5px 0;
    grid-column: 1/3;

    #back_to_articles_link,
    #preview_article {
      color: rgb(87, 87, 54);
      font-weight: 700;
      transition: 300ms;

      &:hover {
        color: rgba(87, 87, 54, 0.7);
        transition: 300ms;
      }
    }
  }

  #show_preview {
    grid-row: 11/12;
    grid-column: 3/14;
    padding-left: 15px;

    #preview_link {
      color: rgb(87, 87, 54);
      font-weight: 700;
      transition: 300ms;

      &:hover {
        color: rgba(87, 87, 54, 0.7);
        transition: 300ms;
      }
    }
  }
}
