

.labels-inside-form {
    font-weight: 700;
}

.fields-inside-form {
    border: 2px solid black;
    padding: 2px;
}

#date-input-field {
    padding: 3px;
    border: 2px solid grey;
    cursor: pointer;
}
#content-text-field {
    width: 35vw;
    height: 30vh;
}

#submit-button {
    padding: 5px;
}