.labels-inside-form {
    font-weight: 700;
}

.fields-inside-form {
    border: 1px solid #261738;
    padding: 2px;
    border-radius: 5px;
}

#content-text-field {
    width: 35vw;
    height: 30vh;
    background-color: rgb(250, 233, 215);
}

#submit-button {
    padding: 5px;
}