#showed_article {
    padding: 10px;
}

.links_in_show {
    text-decoration: none;
    color: rgb(87, 87, 54);
    transition: 300;
    font-weight: 700;
    margin-bottom: 50px;

    &:visited {
        text-decoration: none;
    }

    &:hover {
        color: rgba(87, 87, 54, .7);
        transition: 300;
    }
}

#destroy_button {
    padding: 5px;
}