$violet: #462150;
$accent-violet: #261738;
$mustard: #b87e2d;
$green: #295021;
$moss: rgb(87, 87, 54);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  all: unset;
}

body {
  background-color: rgb(250, 233, 215);
  overflow-y: hidden;
}

#articles_title {
  color: rgb(85, 45, 53);
  text-align: center;
  margin-top: 20px;
}

.articles {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1em;
  margin-top: 3%;

  .new_article_link {
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(64, 64, 40);
    padding: 0 10px;

    &:hover {
      color: rgba(64, 64, 40, 0.6);
    }
  }

  .article {
    display: block;
    cursor: pointer;
    padding: 18px 18x 18px 0;
    transition: 300ms;
    text-decoration: none;
    color: #261738;
    max-height: 150px;
    overflow: hidden;
    padding: 10px;

    &:hover {
      background-color: rgba(87, 87, 54, 0.1);
      transition: 300ms;

      .show_article_link {
        opacity: 1;
        transition: 300ms;
      }
    }

    #article_title {
      font-weight: 800;
      color: $violet;
      font-size: 1.2em;
    }
    #article_date {
      font-size: 14px;
      color: rgb(64, 64, 40);
    }

    .article_content {
      white-space: pre-wrap;
      font-size: 16px;
      text-overflow: ellipsis;
      margin-top: 5px;
      margin-left: 20px;
      line-height: 1.3em;
    }
  }
}

.notice_p {
  margin-top: 10px;
  text-align: center;
}
