$violet: #462150;
$accent-violet: #261738;
$mustard: #b87e2d;
$green: #295021;
$moss: rgb(87, 87, 54);

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
all: unset;
}

body {
background-color: rgb(250, 233, 215);
}

#articles_title {
color: rgb(85, 45, 53);
text-align: center;
margin-top: 20px;
}

.articles {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1em;
    margin-top: 3%;

    .new_article_link {
        text-decoration: none;
        font-weight: 900;
        text-transform: uppercase;
        color: rgb(64, 64, 40);

        &:hover {
            color: rgba(64, 64, 40, 0.6);
        }
    }

    .article {
    display: block;
    cursor: pointer;
    padding: 18px 18x 18px 0;
    transition: 300ms;
    text-decoration: none;
    color: #261738;
    max-height: 100px;
    overflow: hidden;

        &:hover {
            background-color: rgba(87, 87, 54, 0.1);
            transition: 300ms;

            .show_article_link {
            opacity: 1;
            transition: 300ms;
            }
        }

        h3 {
            color: $violet;
        }

        .article_content {
            white-space: pre-wrap;
            font-size: 16px;
            text-overflow: ellipsis;
        }

        .show_article_link {
            color: rgb(87, 87, 54);
            font-weight: 700;
            font-size: 14px;
            opacity: 0;
            transition: 300ms;
            text-align: center;
            padding: 5px;
        }
    }
}
