<script type="module">
    import Preloader from "custom/preloader"  
    new Preloader()
    console.log("partial preloader")
</script>
<div id="loader">
    <video autoplay src="<%= image_path 'file-loading.mp4' %>" alt="<a href="https://iconscout.com/lotties/file-loading" target="_blank">File Loading Animated Icon</a> by <a href="https://iconscout.com/contributors/taurusa18">Fujio Studio</a> on <a href="https://iconscout.com">IconScout</a>"/>
</div>